<p>Olá <%= @resource.email %>!</p>

<p>Foi feita uma requisição para alteração de senha. Para prosseguir favor acessar o link abaixo:</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não foi você quem solicitou favor ignorar o email.</p>
